@model IEnumerable<NotBK.Models.DetallePedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Detalles de un pedido</h1>

<p>
    <a asp-action="Create">Agregar nuevo detalle de pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Dirección de entrega
            </th>
            <th>
                Item
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPedidoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodItemNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodPedidoNavigation.CodPedido)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CodItem, id2 = item.CodPedido }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.CodItem, id2 = item.CodPedido }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.CodItem, id2 = item.CodPedido })
                </td>
            </tr>
        }
    </tbody>
</table>
