@model IEnumerable<NotBK.Models.DetallePedido>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 22px" >Detalles de un pedido</h1>

<p>
    <a asp-action="Create">Agregar nuevo detalle de pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Dirección de entrega
            </th>
            <th>
                Item
            </th>
            <th>
                Código del pedido
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodItemNavigation.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodPedidoNavigation.CodPedido)
                </td>
                <td>
                    @Html.ActionLink("Modificar un detalle", "Edit", new { id = item.CodItem, id2 = item.CodPedido }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Más información", "Details", new { id = item.CodItem, id2 = item.CodPedido }, new { @class = "btn btn-info", @style = "color: white" }) |
                    @Html.ActionLink("Eliminar un registro", "Delete", new { id = item.CodItem, id2 = item.CodPedido }, new { @class = "btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
