@model IEnumerable<NotBK.Models.PromoItem>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 22px" >Items en promoción</h1>

<p>
    <a asp-action="Create">Agregar nuevo item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de inicio
            </th>
            <th>
                Último día disponible
            </th>
            <th>
                Item
            </th>
            <th>
                Promoción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodItemNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPromoNavigation.Nombre)
            </td>
            <td>

                    @Html.ActionLink("Modificar duración del descuento", "Edit", new {  id = item.CodItem, id2 = item.CodPromo }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Revisar detalles", "Details", new { id = item.CodItem, id2 = item.CodPromo }, new { @class = "btn btn-info", @style="color: white" }) |
                    @Html.ActionLink("Disociar un item de una promoción", "Delete", new { id = item.CodItem, id2 = item.CodPromo }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
