@model IEnumerable<NotBK.Models.PromoItem>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-size: 22px" >Items en promoción</h1>

<p>
    <a asp-action="Create">Agregar nuevo item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de inicio
            </th>
            <th>
                Último día disponible
            </th>
            <th>
                Código del item
            </th>
            <th>
                Código de la promoción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodItemNavigation.CodItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPromoNavigation.CodPromo)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CodItem, id2 = item.CodPromo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CodItem, id2 = item.CodPromo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CodItem, id2 = item.CodPromo })
            </td>
        </tr>
}
    </tbody>
</table>
